/* Media Queries */
@media screen and (max-width: 1180px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .aboutme {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        min-height: 600px;
    }
    
    .aboutme-intro {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        max-width: 50%;
    }

    .aboutme-intro h2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 840px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    header {
        flex-wrap: wrap;
        height: 100%;
    }
    .website-title {
        z-index: 0;
        width: 0%;
        height: 0%; 
    }
    .website-title h1 {
        display: none;
    }
    nav {
        align-items: center;
        justify-content: center;
    }
    .nav-item {
        margin: 5px 25px;
    }
}

@media screen and (max-width: 720px) {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    /* Header section */
    header {
        flex-wrap: wrap;
        height: 100%;
    }
    .website-title {
        z-index: 0;
        width: 0%;
        height: 0%; 
    }
    .website-title h1 {
        display: none;
    }
    nav {
        align-items: center;
        justify-content: center;
    }
    .nav-item {
        margin: 5px 15px;
    }
    
    /* About me section */
    .about-me {
        height: 500px;
    }
    .aboutme-photo {
        display: none;
    }


}